<div class="post-show-page">
  <div class="post-cont">
    <div class="post-head">
      <h3>Post #<%= @post.id %> by <%= @post.author.name %></h3>
      <p class="comments-count">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    </div>
    <p><%= @post.text %><p>
  </div>
  <div class="post-cont-container">
  <% if current_user.likes?(@post) %>
    <%= form_with(model: @like, url: user_post_likes_path(@user, @post), method: :delete, local: true) do |f| %>
      <%= f.submit 'Unlike', class: 'like-button' %>
    <% end %>
  <% else %>
    <%= form_with(model: @like, url: user_post_likes_path(@user, @post), method: :post, local: true) do |f| %>
      <%= f.submit 'Like', class: 'like-button' %>
    <% end %>
  <% end %>
</div>
  <button class="btn">
    <%= link_to 'Add Comment', "/users/#{@post.author.id}/posts/#{@post.id}/comments/new", class: 'btn-primary' %>
  </button>
  <button class="btn">
    <%= link_to 'Home', root_path, class: 'btn-primary' %>
  </button>
</div>